<html>
  <body>
    {% if name %}
    <h1>Hello {{name}}!</h1>
    {% else %}
    <h1>Hello World!</h1>
    {% endif %}
     {% comment %} <ul>
       {%for product in products %} {% endcomment %}
      {% comment %} {%for order in orders %} {% endcomment %}
       {% comment %} <li>{{ product.title }} - {{product.collection.title}}</li> {% endcomment %}

       {% comment %} <li>{{ order.id }} - {{ order.customer.first_name }}</li> {% endcomment %}
      {% comment %} {% endfor %}
    </ul> {% endcomment %}
     {% comment %} {{ result }} {% endcomment %}
  </body>
</html>
